<!DOCTYPE html>
<html>
<head>
    <title>Select Active Lecturers</title>
</head>
<body>
    <h1>Select Active Lecturers</h1>
    <form method="POST">
        {% for lec in lecturers %}
            <div>
                <input type="checkbox" id="lec_{{ lec.LecturerID }}" name="lecturer_ids" value="{{ lec.LecturerID }}">
                <label for="lec_{{ lec.LecturerID }}">{{ lec.LecturerName }}</label>
            </div>
        {% endfor %}
        <button type="submit">Next (Rooms)</button>
    </form>
</body>
</html>